@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto" !important;
}

:root {
  --yellow: #FFCF53;
  --black: #484848;
  --pink: #E43C78;
}

.splash {
  height: 100vh;
  background: var(--yellow);
}

.wrapper {
  height: 100vh;
  background: var(--black);
}

main {
  height: 100vh;
}

.wrapper main section {
  width: 90%;
  height: 600px;
  background: var(--yellow);
  overflow-y: scroll;
}

table{
  width: 1300px !important;
}