@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto" !important;
}

:root {
  --yellow: #ffcf53;
  --black: #484848;
}

.splash {
  height: 100vh;
  background: var(--yellow);
}

.title span:nth-child(1) {
  color: var(--yellow);
}

.title span:nth-child(2) {
  color: var(--black);
}

nav ul li a {
  color: var(--black);
}

nav ul li .border-2 {
  color: var(--yellow);
  border-color: var(--yellow) !important;
}

.btn {
  border: 1px solid #484848 !important;
}

main {
  height: 100vh !important;
}

main section:nth-child(1) {
  color: var(--black);
}

main section:nth-child(1) div div:nth-child(1) h1,
main section:nth-child(1) div div:nth-child(2) h1 {
  font-size: 3rem;
}

main section:nth-child(1) div div:nth-child(1) div h3 {
  font-size: 2.5rem;
}

button {
  background: var(--yellow);
}

.preBackEndDevWrapper {
  background: var(--yellow);
}

main section:nth-child(2) .heroWrapper {
  width: 100%;
  background: var(--yellow);
}

@media (max-width: 991px) {
  header {
    top: 0;
    left: -350px !important;
    width: 350px !important;
    height: 100vh !important;
    transition: 0.5s;
  }

  header .contactWrapper {
    position: fixed;
    bottom: 20px;
  }

  header nav ul li a {
    font-size: 17px !important;
  }

  nav ul li:nth-child(1) {
    color: var(--yellow);
  }

  .humbergerWrapper {
    z-index: 100;
    width: 50px;
    height: 40px;
    background: rgb(43, 43, 43);
    top: 23px;
    left: 30px;
    transition: 0.5s;
  }

  .humberger {
    width: 38px;
    height: 3px;
    background: white;
    transition: 0.5s;
  }

  .humberger::after,
  .humberger::before {
    content: "";
    border-radius: 100px !important;
    width: 38px;
    height: 3px;
    background: rgb(219, 219, 219);
    position: absolute;
  }

  .humberger::after {
    transform: translateY(-10px);
  }

  .humberger::before {
    transform: translateY(10px);
  }

  body.sidebarOn header {
    left: 0 !important;
    transition: 0.5s;
  }

  body.sidebarOn .humbergerWrapper {
    left: 280px;
    background: transparent;
  }

  body.sidebarOn .humberger {
    background: var(--black);
    background: transparent;
    transition: 0.5s;
  }
  
  body.sidebarOn .humberger::after {
    background: var(--black);
    transform: rotate(45deg);
    transition: 0.5s;
  }
  
  body.sidebarOn .humberger::before {
    background: var(--black);
    transform: rotate(-45deg);
    transition: 0.5s;
  }

  nav ul li:nth-child(1) a {
    border: none !important;
  }

  main section:nth-child(2) .heroWrapper {
    border-radius: 10px;
    width: 450px;
    background: var(--yellow);
  }
}

@media (max-width: 720px) {

  main section:nth-child(1) div div:nth-child(1) h1,
  main section:nth-child(1) div div:nth-child(2) h1 {
    font-size: 2rem;
  }

  main section:nth-child(1) div div:nth-child(1) div h3 {
    font-size: 1.7rem;
  }

  main section:nth-child(1) div div:nth-child(3) h5 {
    font-size: 1.1rem;
  }

  main section:nth-child(2) .heroWrapper {
    width: 45%;
    background: var(--yellow);
  }

  main section:nth-child(2) img {
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .splash img {
    width: 200px !important;
  }

  header {
    width: 250px !important;
    padding: 25px !important;
  }

  header .navbar {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  header nav ul {
    width: 200px !important;
  }

  header nav ul {
    flex-direction: column;
    margin-top: 10px !important;
    margin-left: 20px !important;
  }

  header nav ul li a {
    margin-left: 10px !important;
  }

  body.sidebarOn .humbergerWrapper {
    left: 190px;
  }

  main {
    padding: 100px 0 !important;
  }

  main section:nth-child(1) div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main section:nth-child(1) div div:nth-child(1) h1,
  main section:nth-child(1) div div:nth-child(2) h1 {
    font-size: 1.5rem;
  }

  main section:nth-child(1) div div:nth-child(1) div h3 {
    font-size: 1.3rem;
  }

  main section:nth-child(1) div div:nth-child(3) h5 {
    font-size: 1rem;
  }

  main section:nth-child(1) div div:nth-child(3) {
    text-align: center;
  }

  main section:nth-child(1) div div:nth-child(3) h5 {
    font-size: 1rem;
  }

  main section:nth-child(1) div div:nth-child(4) button {
    padding: 7px 30px !important;
  }

  main section:nth-child(1) div div:nth-child(5) {
    display: flex;
    flex-direction: row;
  }

  main section:nth-child(1) div div:nth-child(5) div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }


  main section:nth-child(2) {
    padding: 40px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main section:nth-child(2) .heroWrapper {
    width: 60%;
    background: var(--yellow);
  }
}